__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.venv/
venv/

/datasets/
/data/
/runs/
/results/
/weights/
/wandb/
*.pt
*.pth
*.onnx
*.engine
*.ev4a

.yolo-config/
ultralytics_settings.json
